@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,600');

:root {
	--transition: all .2s;
}

html {
	font-size: calc(1.8vh + 1.8vw);
}

body {
	margin: 0px;
	font-family: 'Crimson Text', serif;
	color: #eee;
	scroll-behavior: smooth;
	overflow-y: scroll;
}

scroll-container {
  display: block;
	height: 100vh;
  overflow-y: scroll;
	scroll-behavior: smooth;
	transition: background-image 5s;
	background-image: linear-gradient(#333, #111);
}

scroll-page {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	overflow: hidden;
}

a {
	color: #eee;
	text-decoration: none;
}

h1 {
	font-size: 2rem;
	transition: var(--transition);
}

h1:hover {
	cursor: pointer;
	filter: blur(1px);
}

h2 {
	font-size: 1.2rem;
}

/* pop-up window styles */

a.bttn {
	display: inline-block;
	min-width: 2rem;
	font-size: .6rem;
	border: 1px solid #eee;
	border-radius: 12px;
	padding: 2px 12px;
	margin: 5px;
	transition: var(--transition);
}

a.bttn:hover {
	filter: blur(1px);
}

#error-being-in-fact-the-thing {
	word-break: break-all;
}