@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,600');

*, *:before, *:after {
  box-sizing: border-box;
}

:root {
	--transition: .2s;
	--danger: rgb(255, 59, 59);
	--text-color: #111;
}

html {
	font-size: calc(1.8vh + 1.8vw);
	margin: 0;
}

body {
	margin: 0;
	font-family: 'Crimson Text', serif;
	color: var(--text-color);
	display: block;
	scroll-behavior: smooth;
	background: linear-gradient(#c4fbdc, #f88dc4, #f7af9d, #f7e3af);
}

.page {
	position: relative;
	height: 100vh;
	width: 100vw;
	padding: 10px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	justify-items: center;
	overflow: hidden;
}

.page div {
	align-self: start;
}

.images--preload {
	display: none;
}

a {
	color: var(--text-color);
	text-decoration: none;
	text-align: center;
}

h1 {
	text-align: center;
	align-self: end;
	margin: 5% 10%;
	font-size: 2rem;
	transition: transform .2s;
}

h1:hover {
	cursor: pointer;
	transform: scale(1.04);
}

h1.slot-machine {
		text-align: left;
}

h2 {
	font-size: 1.2rem;
}

.error {
	color: var(--danger);
}

h1.blur:hover {
	filter: blur(4px);
}

a.blur:hover {
	filter: blur(3px);
	transform: scale(1);
}

span {
	margin: 0;
	padding: 0;
}

/* buttons */
a.bttn {
	display: inline-block;
	min-width: 2rem;
	font-size: 1rem;
	font-weight: bold;
	border: 2.6px solid var(--text-color);
	border-radius: 12px;
	padding: 2px 12px;
	margin: 5px;
	transition: transform .2s;
}

a.bttn.danger {
	color: var(--danger);
	border-color: var(--danger);
}

a.bttn:hover {
	transform: scale(1.08);
}

.smiley {
	display: inline-block;
	font-size: 4rem;
	margin: 0 20px;
	transition: transform .2s;
}

a.smiley:hover {
	transform: scale(1.08);
}

/* ~~~quiz~~~ */
.quiz-text {
	text-align: center;
	font-size: 1.6rem;
}

.container--quiz-links {
	display: flex;
}

a.quiz-link {
	background-size: cover;
	background-position: center;
	display: inline-block;
	height: 25vw;
	width: 25vw;
	margin: 0 6px;
	border: 6px solid #eee;
	box-shadow: 1px 1px 2px rgb(49, 49, 49);
	transition: transform .2s;
}

a.quiz-link:hover {
	transform: scale(1.1);
}

.quiz-text.smiles {
	align-self: end;
	width: 100%;
	font-size: 3.6rem;
	margin: 4%;
}

.quiz-text.smiles span {
	margin: 10px 10px;
}

.quiz-text.smiles span:hover {
	cursor: pointer;
	transform: scale(1.4);
}

/* ======= pages ======= */
/* ------ welcome ------ */
#sadnessDotOnline, #questions, #webcam-page {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	justify-items: center;
	align-items: center;
}

a.welcome {
	font-weight: bold;
	font-size: 2.6rem;
	height: 50px;
	display: flex;
	align-content: flex-end;
	cursor: pointer;
	transition: all .2s;
	color: rgba(0,0,0,0);
}

.welcome span {
	margin: 1px;
	transition-property: transform, font-color;
	transition-duration: .4s, .4s;
}

.welcome span.on {
	color: var(--text-color);
}

.welcome span.up {
	transform: translateY(-5px);
	opacity: .7;
}

/* ---- questions ---- */

/* ----- err-lacking-substance ------ */
#error-lacking-substance {
	text-align: center;
}

#error-lacking-substance span {
	margin-left: -.3rem;
}

/* ------ yes ------ */
#yes {
	transition: all 5s;
}

/* ------ webcam ------ */
#webcam-page {
	padding: 0;
	transition: opacity 6s;
	background: #000;
}

.wrapper--webcam {
	position: relative;
	width: 100%;
	max-width: 133.3333vh;
	max-height: 100vh;
}

.webcam-canvas {
	width: 100%;
	filter: brightness(100%);
}

.webcam-canvas--one {
	opacity: 1;
}

.webcam-canvas--two {
	position: absolute;
	left: 0;
	top: 0;
	opacity: .5;
}

.off {
	opacity: 0;
}

.background--black {
	background: black;
}


/* ===== helpers ===== */

.text-center {
	text-align: center;
}