<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>sadness.online</title>
</head>

<body>

	<!-- background images -->
	<div class="background-image shape-1"></div>
	<div class="background-image shape-2"></div>
	<div class="background-image shape-3"></div>

	<div id="sadnessDotOnline" class="page sadnessDotOnline center-center">
		<a class="welcome">
			<span>S</span>
			<span>a</span>
			<span>d</span>
			<span>n</span>
			<span>e</span>
			<span>s</span>
			<span>s</span>
			<span>.</span>
			<span>o</span>
			<span>n</span>
			<span>l</span>
			<span>i</span>
			<span>n</span>
			<span>e</span>
		</a>
	</div>

</body>

</html>