<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>sadness.online</title>
</head>

<body>

	<!-- background images -->
	<div class="background-image shape-1"></div>
	<div class="background-image shape-2"></div>
	<div class="background-image shape-3"></div>

	<div data-scroll="100" id="sadnessDotOnline" class="page sadnessDotOnline center-center" data-normal-target="#hello-are-you-looking-for-sadness"
	 data-jumble-target="#hello-are-you-looking-for-sadness">
		<a class="welcome">
			<span>S</span>
			<span>a</span>
			<span>d</span>
			<span>n</span>
			<span>e</span>
			<span>s</span>
			<span>s</span>
			<span>.</span>
			<span>o</span>
			<span>n</span>
			<span>l</span>
			<span>i</span>
			<span>n</span>
			<span>e</span>
		</a>
	</div>

	<div data-scroll="200" id="hello-are-you-looking-for-sadness" class="page" data-jumble-target="#sorry-that-happiness-was-unavailable">
		<div class="wrapper">
			<h1 class="slot-machine">Were you looking for
				<a href="#">sadness.online</a>?
			</h1>
			<div class="buttons">
				<a href="#how-are-you-feeling" class="bttn">Yes</a>
				<a href="#sadnessDotOnline" class="bttn" data-cancel="true">No</a>
			</div>
		</div>
	</div>

	<div data-scroll="300" id="sorry-that-happiness-was-unavailable" class="page sorry-that-happiness-was-unavailable" data-jumble-target="#how-are-you-feeling">
		<div class="wrapper">
			<h1 class="slot-machine">Sorry that
				<a href="#">happiness.com</a> was unavailable.</h1>
			<div>
				<a href="#shall-we-begin" class="bttn">Yes</a>
				<a href="#sadnessDotOnline" class="bttn">Yes</a>
			</div>
		</div>
	</div>

	<div data-scroll="400" id="how-are-you-feeling" class="page">
		<div class="wrapper">
			<h1 class="slot-machine">How are you feeling?</h1>
			<div class="buttons">
				<a href="#sorry-that-happiness-was-unavailable" class="smiley">:)</a>
				<a href="#sorry-that-happiness-was-unavailable" class="smiley">:|</a>
				<a href="#sorry-that-happiness-was-unavailable" class="smiley">:(</a>
			</div>
		</div>
	</div>

	<div data-scroll="500" id="shall-we-begin" class="page" data-quiz-target="true">
		<div class="wrapper">
			<h1>Shall we begin?</h1>
			<div>
				<a href="#what-is-reality" class="bttn">Ok</a>
				<a href="#what-is-reality" class="bttn">Cancel</a>
			</div>
		</div>
	</div>

	<!-- //////////// begin horizontal scroll ////////////// -->
	<section class="horizontal-scroll questions" data-delete="true">

		<div data-scroll-right="100" id="what-is-reality" class="page" data-quiz-target="true">
			<div class="wrapper--quiz">
				<div class="wrapper--text">
					<h1 class="quiz-text make-transparent">What is reality?</h1>
				</div>
				<div class="container--quiz-links">
					<a href="#its-your-pets-birthday" class="bttn make-transparent" data-boop="true">True</a>
					<a href="#its-your-pets-birthday" class="bttn make-transparent" data-boop="true">False</a>
				</div>
			</div>
		</div>

		<div data-scroll-right="200" id="its-your-pets-birthday" class="page" data-quiz-target="true">
			<div class="wrapper--quiz">
				<div class="wrapper--text">
					<h1 class="quiz-text make-transparent">It’s your pet’s birthday!!!</h1>
					<h1 class="quiz-text make-transparent">Which option best describes how you feel?</h1>
				</div>
				<div class="container--quiz-links">
					<a href="#what-is-reality-if-not" class="quiz-link make-transparent" data-boop="true"></a>
					<a href="#what-is-reality-if-not" class="quiz-link make-transparent" data-boop="true"></a>
					<a href="#what-is-reality-if-not" class="quiz-link make-transparent" data-boop="true"></a>
				</div>
			</div>
		</div>

		<div data-scroll-right="300" id="what-is-reality-if-not" class="page" data-quiz-target="true">
			<div class="wrapper--quiz">
				<div class="wrapper--text">
					<h1 class="quiz-text make-transparent">What is reality if not what
						<br /> we see, hear, feel, touch, and taste?</h1>
				</div>
				<div class="container--quiz-links">
					<a href="#feelings-are-never-an" class="quiz-link make-transparent" data-boop="true"></a>
					<a href="#feelings-are-never-an" class="quiz-link make-transparent" data-boop="true"></a>
					<a href="#feelings-are-never-an" class="quiz-link make-transparent" data-boop="true"></a>
				</div>
			</div>
		</div>

		<div data-scroll-right="400" id="feelings-are-never-an" class="page" data-quiz-target="true">
			<div class="wrapper--quiz">
				<div class="wrapper--text">
					<h1 class="quiz-text make-transparent">
						Feelings are never a(n)
						<div class="blank"></div>
					</h1>
				</div>
				<div class="container--quiz-links vertical">
					<a href="#what-is-happening" class="make-transparent" data-boop="true">a) Parrot</a>
					<a href="#what-is-happening" class="make-transparent" data-boop="true">b) Cat</a>
					<a href="#what-is-happening" class="make-transparent" data-boop="true">c) Abstraction</a>
				</div>
			</div>
		</div>

		<div data-scroll-right="500" id="what-is-happening" class="page" data-quiz-target="true">
			<div class="wrapper--quiz">
				<div class="wrapper--text">
					<h1 class="quiz-text make-transparent">WHAT IS HAPPENING</h1>
				</div>
				<div class="container--quiz-links vertical">
					<a href="#thoughts-without-sadness" class="make-transparent" data-boop="true">a) Present</a>
					<a href="#thoughts-without-sadness" class="make-transparent" data-boop="true">b) Moment</a>
					<a href="#thoughts-without-sadness" class="make-transparent" data-boop="true">c) This</a>
				</div>
			</div>
		</div>

		<div data-scroll-right="600" id="thoughts-without-sadness" class="page" data-quiz-target="true">
			<div class="wrapper--quiz">
				<div class="wrapper--text">
					<h1 class="quiz-text make-transparent">
						Thoughts without sadness =
						<div class="blank"></div>
					</h1>
				</div>
				<div class="container--quiz-links">
					<a href="#this-seems-impractical" class="quiz-link make-transparent" data-boop="true"></a>
					<a href="#this-seems-impractical" class="quiz-link make-transparent" data-boop="true"></a>
					<a href="#this-seems-impractical" class="quiz-link make-transparent" data-boop="true"></a>
				</div>
			</div>
		</div>

		<div data-scroll-right="700" id="this-seems-impractical" class="page" data-questions-trigger="true">
			<div class="wrapper--quiz">
				<h1 class="quiz-text make-transparent">This seems impractical</h1>
				<div class="buttons">
					<a href="#questions" class="smiley make-transparent" data-boop="true">:)</a>
					<a href="#questions" class="smiley make-transparent" data-boop="true">:|</a>
					<a href="#questions" class="smiley make-transparent" data-boop="true">:(</a>
				</div>
			</div>
		</div>

		<div id="questions" class="page" data-popup-pattern="circle-frame" data-modal-target="error-vague" data-can-click-anywhere="true">
			<div class="wrapper--quiz wrapper--questions">
				<h1 class="text-center no-line-break">Noise becomes signal.</h1>
				<div>
					<a class="bttn" data-trigger="true" data-boop="true">Cancel</a>
				</div>
			</div>
		</div>

	</section>
	<!-- ////////// end horizontal scroll ////////// -->

	<!-- /////////// begin modals //////////// -->

	<div id="error-vague" class="modal" data-popup-pattern="x-frame" data-modal-target="error-abstract" data-delete-background="true">
		<div class="card error">
			<span class="modal-close">X</span>
			<h1>ERROR_VAGUE</h1>
			<div class="buttons">
				<button class="yes" data-trigger="true" data-boop="true" data-delete-all-pages="true">REAL</button>
				<button class="no" data-trigger="true" data-boop="true" data-delete-all-pages="true">UNREAL</button>
			</div>
		</div>
	</div>

	<div id="error-abstract" class="modal" data-popup-pattern="squiggle" data-modal-target="massively-false" data-offset='10'>
		<div class="card error">
			<span class="modal-close">X</span>
			<h1>ERROR_ABSTRACT</h1>
			<div class="buttons">
				<button class="yes" data-boop="true" data-trigger="true">HAPPY</button>
				<button class="no" data-boop="true" data-trigger="true">SAD</button>
			</div>
		</div>
	</div>

	<div id="massively-false" class="modal" data-popup-pattern="full-cover" data-transition-to-webcam="true">
		<div class="card error">
			<span class="modal-close">X</span>
			<h1>MASSIVELY_FALSE</h1>
			<div class="buttons">
				<button class="yes" data-boop="true">SELF</button>
				<button class="no" data-boop="true">BIAS</button>
			</div>
		</div>
	</div>

	<!-- ////////////// end modals //////////// -->

	<!-- ////////////// webcam //////////////// -->

	<div id="webcam-page" class="page--webcam">
		<div class="wrapper--webcam">
			<canvas class="webcam-canvas webcam-canvas--one" data-boop="true"></canvas>
			<canvas class="webcam-canvas webcam-canvas--two" data-boop="true"></canvas>
		</div>
	</div>

	<!-- ////////////// images /////////////// -->

	<div class="images--preload" data-delete="true"></div>

	<!-- ////////////// sound /////////////// -->

	<audio id="boop" src="./dist/audio/boop.mp3" data-delete="true"></audio>

</body>

</html>